html{
    color: white;
}
body{
    display: flex;
    justify-content: center;
    background-image: url(https://picsum.photos/1080/720?random=1);
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: cover;
    background-attachment: fixed;
}
div{
    margin: auto;
}
#divClass{
    color: black;
}
h1{
    color:blue;
}
img{
    width: 400px;
}
#thirdDiv{
    width : 500px;
    height: 600px;
    background-color:green;
    padding : 50px;
    border-color: blue;
    border-style: double;
}

#spanId{
    font-size: 18px;
    margin: 50px;
}